i.d12mla-begin {
	background-image: url(../icons/begin.png);
	margin: 2px 6px 0 0;
}
i.d12mla-book {
	background-image: url(../icons/book.png);
	margin: 2px 6px 0 0;
}
i.d12mla-journal {
	background-image: url(../icons/journal.png);
	margin: 2px 6px 0 0;
}
i.d12mla-magazine {
	background-image: url(../icons/magazine.png);
	margin: 2px 6px 0 0;
}
i.d12mla-note {
	background-image: url(../icons/note.png);
	margin: 2px 6px 0 0;
}
i.d12mla-end {
	background-image: url(../icons/stop.png);
	margin: 2px 6px 0 0;
}
i.d12mla-hly {
	background-image: url(../icons/hly.png);
	margin: 2px 6px 0 0;
}
i.d12mla-smalltext {
	background-image: url(../icons/smalltext.png);
	margin: 2px 6px 0 0;
}
i.d12mla-clearleft {
	background-image: url(../icons/clearleft.png);
	margin: 2px 6px 0 0;
}
i.d12mla-clearright {
	background-image: url(../icons/clearright.png);
	margin: 2px 6px 0 0;
}
i.d12mla-clearboth {
	background-image: url(../icons/clearboth.png);
	margin: 2px 6px 0 0;
}
